# datos grandes
data/

# resultados
data/
results/pasilla_ejemplo/
results/pasilla_prueba/
results/Alineamientos/


# formatos bioinformáticos grandes
*.fastq
*.fq
*.bam
*.sam
*.h5
*.gz
*.tar
*.tar.gz
*.fasrq.gz